node_modules/
.obsidian

# Build files
packages/*/lib/

# Vuepress Cache
.cache
.npmrc
# Vuepress Temp
.temp
# Vuepress Output
dist/

# VS Code Config file
.vscode

# Rollup Cache
.rollup.cache/

# Typescript build info
*.tsbuildinfo

# Coverage Files
coverage/

筑友项目/

天华项目/

*.key
*.key.pub
*.ppk
key/


